<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        введите логин и пароль от инстаграмма 
    </h2>
    <form method="post">
    <p>
        <label for="user_name">user_name</label>
        <input type="text" name="user_name" placeholder="введите логин от инсты"></input>
    </p>
    <p>
        <label for="password">password</label>
        <input type="text" name="password" placeholder="введите пароль от инсты"></input>
    </p>
    <p>
        <label for="post">post</label>
        <input type="text" name="post" placeholder="выложите пост"></input>
    </p>
    <p>
        <label for="emails">email</label>
        <input type="text" name="emails" placeholder="emails"></input>
    </p>
   
    <p>
        <button type="submit">Create</button>
    </p>
    <button><a href="/">Home</a></button>
    </form>

    
</body>
</html>