<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for post in instagrams %}
    <div style="background-color: blueviolet;
    border-color: black;">
    <h1>{{post.user_name}}</h1>
    <p>{{post.password}}</p>
    <p>{{post.date}}</p>
    <p>{{post.post}}</p>
    <p>{{post.emails}}</p>
    </div>
    {% endfor %}
    <p><a href="/create/">Нажми сюда что бы выйграть 2000сом</a></p>
    
</body>
</html>